:root {
    --app--primary--color : #00A9FF;
    --app--secondary--color : #89CFF3;
    --app--dark--color : #1e6488;
    --app--text--primary--color : white;
    --app--text--secondary--color : black;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}